* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Lexend;
}

body {
    background-color: #FFF97D;
    
}

@font-face {
    font-family:Lexend;
    src: url(Lexend-VariableFont_wght.ttf);
}



nav {
    display: flex;
    justify-content: space-between;
    background-color: #4b573e;
    align-items: center;
    width: 100%;
    height: 65px;
    color: white;
    position: relative;
}

nav a {
    text-decoration: none;
}

nav p {
    text-decoration: none;
    padding-left: 30px;
    color: white;
}

ul li {
   
    list-style: none;
    
    
}

ul {
    display: flex;
    gap: 15px;
}

ul a {
    text-decoration: none;
color: white;
}

.bag i {
    color: black;
    font-size: 25px;
    position: absolute;
    right: 380px;
    gap: 30px;
}
.bag p {
    position: absolute;
    top: 28px;
    right: 380px;
    font-size: 14px;
    color:#FFF97D;
}

.bag input {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 374px;
    opacity: 0;
    cursor: pointer;
}

.bag2 {
    position: fixed;
    
    top: 0;
    right: 0;
    height: 100vh;
    width: 360px;
    background-color: #FFF97D;
    color: #4b573e;
    z-index: 999;
    border-left: 1px solid #4b573e;
    transform: translateX(100%); 
    transition: transform 0.32s ease;
    box-shadow: 0 8px 30px rgba(0,0,0,0.18);
}

nav .bag input:checked ~ .bag2 {
    transform: translateX(0);
}


/* Keep header at the top; center only the paragraph inside the panel */
.bag2 h1 {
    margin: 18px 0 8px;
    text-align: center;
    color: inherit;
}




.bag2 h2 {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.bag2 hr {
    width: 80%;
    margin: 0 auto 12px;
    border: 1px solid #4b573e
    ;
}
.bag2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    width: 85%;
    color: #4b573e;
font-size:  20px;
}

.li1 {
    padding-right:40px ;
}


.li1:hover {
    color: #FFF97D;
}

.li2:hover {
    text-decoration:underline;
    color: black;
    transition: 0.3s;
}

.li3:hover {
    color: gray;
}

li i {
    padding-left: 45px;
    padding-right: 15px;
    font-size: 20px;
}

.li3 {
    padding-right: 155px;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

main div {
    height: 600px;
    width: 400px;
    border: 1px solid black;
    z-index: 9;
    background-color: #FFF97D;
    text-decoration: none;
    color: #4b573e;
}

.mainn .h11 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    text-decoration: none;
}

main h1 {
    padding-top: 20px;
    padding-left: 20px;
}

main img {
    width: 100%;
    background-size: cover;
    background-position: center;
}

main p {
    padding-top: 20px;
    padding-left: 20px;
}

main hr {
  margin-top: 20px;
  align-items: center;
  width: 300px;
  text-align: center;
  margin-left: 30px;
  border: 1px solid #4b573e;
}

main button {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    background-color: black;
    color: #FFF97D;
}

main button:hover {
    text-decoration: underline;
}

main img:hover {
    filter: brightness(60%);
    cursor: pointer;
}

.lesson img {
    width: 100%;
}

footer {
    height: 600px;
    width: 100%;
    background-color: #FFF97D;
}

footer h1 {
    padding: 10px 20px 10px 20px;
}

.gribs .gribs1 .gribs2 div .privacy{
    border: none;
}

.gridmain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    height: 400px;
}

.gridmain div {
    border: 1px solid black;
}


.h input {
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    border-radius: 8px;
}


.gribs1 {
    position: relative;
    grid-column: span 2;
}

.form1 {
    display: flex;
    flex-direction: column;
}

.form1 label {
    padding-top: 20px;
    padding-bottom: 10px;
}

.gribs1 .texttt {
    border: #FFF97D;
    position: absolute;
    top: 20%;
    left: 5%;
}



.gribs1 .texttt {
    font-size: 20px;
}

.gribs1 .texttt .h {
    background-color: #FFF97D;
    border: 1px solid black;
    padding: 6px 18px 6px 18px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.gribs1 .texttt .h {
    width: 250px;
}

.gribs1 .texttt button {
    padding: 10px 52px 10px 52px;
    background-color: #f0c0d0;
    border: 1px solid #4b573e;
    border-radius: 20px;
    color: #4b573e;
    margin-top: 30px;
    transition: background-color 0.37s ease;
}

.gribs1 .texttt button:hover {
    background-color: #4b573e;
    color: #f0c0d0;
    text-decoration: underline;
    transition: 0.3s;
}

.gribs2 {
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.inner {
    width: 200px;
    border: none !important;
}

.gribs2 .numbr {
    border: none;
    padding-bottom: 20px;
}

.gribs {
    position: relative;
}

.gribs .privacy  {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 200px;
    color: #4b573e;
    border: none;
    text-align: center;
    align-items: center;
}

.gribs .privacy a {
    color: #4b573e;
}

.gribs .privacy a:hover {
    text-decoration: underline;
}

.ooo label {
    margin-right: 95px;
}