* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Lexend;
}

body {
    background-color: #FFF97D;
    
}

@font-face {
    font-family:Lexend;
    src: url(Lexend-VariableFont_wght.ttf);
}



nav {
    display: flex;
    justify-content: space-between;
    background-color: #4b573e;
    align-items: center;
    width: 100%;
    height: 65px;
    color: white;
    position: relative;
    z-index: 999;
}

nav a {
    text-decoration: none;
}

nav p {
    text-decoration: none;
    padding-left: 30px;
    color: white;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    gap: 15px;
}

ul a {
    text-decoration: none;
color: white;
}

.bag i {
    color: black;
    font-size: 25px;
    position: absolute;
    right: 380px;
    gap: 30px;
}
.bag p {
    position: absolute;
    top: 28px;
    right: 380px;
    font-size: 14px;
    color:#FFF97D;
}

.bag input {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 370px;
    opacity: 0;
    cursor: pointer;
}

.bag2 {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 360px;
    background-color: #FFF97D;
    color: #4b573e;
    z-index: 1;
    border-left: 1px solid #4b573e;
    transform: translateX(100%); 
    transition: transform 0.32s ease;
    box-shadow: 0 8px 30px rgba(0,0,0,0.18);
}

nav .bag input:checked ~ .bag2 {
    transform: translateX(0);
}


.bag2 h1 {
    margin: 18px 0 8px;
    text-align: center;
    color: inherit;
}




.bag2 h2 {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.bag2 hr {
    width: 80%;
    margin: 0 auto 12px;
    border: 1px solid #4b573e;
    
}
.bag2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    width: 85%;
    color: #4b573e;
font-size:  20px;
}

.li1 {
    padding-right:40px;
}


.li1:hover {
    color: #FFF97D;
}

.li2:hover {
    text-decoration:underline;
    color: black;
    transition: 0.3s;
}

.li3:hover {
    color: gray;
}

li i {
    padding-left: 45px;
    padding-right: 15px;
    font-size: 20px;
}

.li3 {
    padding-right: 155px;
}

.fa-bars {
    display: none !important;
}

.LALA {
    display: none;
    opacity: 0 !important;
    cursor: pointer;
}

.mobilenav {
    position: absolute;
    left: -100%;
    display: flex;
    position: sticky;
    height: 100%;
    width: 100%;
    background-color: #FFF97D;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.LALA:checked ~ .mobilenav {
    left: 0;
    transition: 0.3s;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    background-color: #FFF97D;
    z-index: 998;
    position: fixed;
    opacity: 1;
}

.mobilenav ul {
    position: absolute;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    left: 45%;
    z-index: 1;
}

.mobilenav ul a {
    font-size: 25px;
    color: black;
}

.mobilenav hr {
    border: 1px solid white;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

main div {
    height: 600px;
    width: 400px;
    border: 1px solid black;
    z-index: 9;
    background-color: #FFF97D;
    text-decoration: none;
    color: #4b573e;
    z-index: 500;
}

.mainn .h11 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    text-decoration: none;
}

main h1 {
    padding-top: 20px;
    padding-left: 20px;
}

main img {
    width: 100%;
    background-size: cover;
    background-position: center;
}

main p {
    padding-top: 20px;
    padding-left: 20px;
}

main hr {
  margin-top: 20px;
  align-items: center;
  width: 300px;
  text-align: center;
  margin-left: 30px;
  border: 1px solid #4b573e;
}

main button {
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    background-color: black;
    color: #FFF97D;
}

main button:hover {
    text-decoration: underline;
}

main img:hover {
    filter: brightness(60%);
    cursor: pointer;
}

.lesson img {
    width: 100%;
}

footer {
    height: 600px;
    width: 100%;
    background-color: #FFF97D;
}

footer h1 {
    padding: 10px 20px 10px 20px;
}

.gribs .gribs1 .gribs2 div .privacy{
    border: none;
}

.gridmain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    height: 400px;
}

.gridmain div {
    border: 1px solid black;
}

.gribs1 .ooo {
    border: none;
}

.h input {
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    border-radius: 8px;
}


.gribs1 {
    position: relative;
    grid-column: span 2;
}

.form1 {
    display: flex;
    flex-direction: column;
}

.form1 label {
    padding-top: 20px;
    padding-bottom: 10px;
}

.gribs1 .texttt {
    border: #FFF97D;
    position: absolute;
    top: 20%;
    left: 5%;
}



.gribs1 .texttt {
    font-size: 20px;
}

.gribs1 .texttt .h {
    background-color: #FFF97D;
    border: 1px solid black;
    padding: 6px 18px 6px 18px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.gribs1 .texttt .h {
    width: 250px;
}

.gribs1 .texttt button {
    padding: 10px 52px 10px 52px;
    background-color: #f0c0d0;
    border: 1px solid #4b573e;
    border-radius: 20px;
    color: #4b573e;
    margin-top: 30px;
    transition: background-color 0.37s ease;
}

.gribs1 .texttt button:hover {
    background-color: #4b573e;
    color: #f0c0d0;
    text-decoration: underline;
    transition: 0.3s;
}

.gribs2 {
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.inner {
    width: 200px;
    border: none !important;
}

.gribs2 .numbr {
    border: none;
    padding-bottom: 20px;
}

.gribs {
    position: relative;
}

.gribs .privacy  {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 200px;
    color: #4b573e;
    border: none;
    text-align: center;
    align-items: center;
    
}

.gribs .privacy a {
    color: #4b573e;
}

.gribs .privacy a:hover {
    text-decoration: underline;
}

.ooo label {
    margin-right: 95px;
}

@media screen and (max-width:950px) {
    
    nav ul {
        display: none;
    }

.fa-bars {
        display: block !important;
        color: white;
        font-size: 25px;
        position: absolute;
        right: 30px;
        cursor: pointer;
        z-index: 1000;
    }

    .LALA {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 30px;
        top: 18px;
        opacity: 1;
        cursor: pointer;
        z-index: 1001;
    }
    
    .grid {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  box-sizing: border-box;
}

.grid > div {
  width: 100%;
  min-height: 140px;
  border: 1px solid #4b573e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: transparent;
  position: relative;
}

.grid div h1 {
  position: static;
  top: auto;
  left: auto;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.2;
}

.maingrid {
  height: auto;
  padding-bottom: 24px;
}

.maingrid button {
  position: static;
  display: block;
  margin: 18px auto 32px;
  left: auto;
  top: auto;
}

.gridmain {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: none; 
  text-align: center;
  align-items: center;
  margin: auto;
}

.gridmain > div {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #4b573e; 
  padding: 16px;
  background: transparent;
}


.gribs1 {
  position: static;
  grid-column: auto;
  height: auto;
  z-index: auto;
  width: 100%;
}

.gribs1 .texttt {
  position: static;
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
}

.gribs1 .texttt input.h {
  width: 100%;
  max-width: 420px;
    margin: 0 auto 12px;
}

main {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 16px 0;
}

main div {
  width: 92%;           
  max-width: 420px;     
  box-sizing: border-box;
  margin: 0 auto;       
  height: auto;         
}

/* Ensure images scale inside the stacked cards */
main img {
  width: 100%;
  height: auto;
  display: block;
}

/* Optional: reduce padding on headings inside the cards */
main h1 {
  padding-left: 0;
  padding-top: 30px;
  text-align: center;
}

main button {
    margin-bottom: 30px;
}

.numbr {
    text-align: center;
}

.inner {
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 0;
}

.gribs2,
.gribs .privacy {
  position: static;
  width: 100%;
  padding: 8px 0;
}

.gribs .privacy a {
  display: block;
  margin-bottom: 6px;
}  
}

@media screen and (min-width:950px) {
    .mobilenav {
        display: none;
    }

    
}
