* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Lexend;
}

body {
    height: auto;
}

@font-face {
    font-family:Lexend;
    src: url(Lexend-VariableFont_wght.ttf);
}



nav {
    display: flex;
    justify-content: space-between;
    background-color: #4b573e;
    align-items: center;
    width: 100%;
    height: 65px;
    color: white;
    position: relative;
    z-index: 999;
}

nav a {
    text-decoration: none;
}

nav p {
    text-decoration: none;
    padding-left: 30px;
    color: white;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    gap: 15px;
}

ul a {
    text-decoration: none;
color: white;
}

.bag i {
    color: black;
    font-size: 25px;
    position: absolute;
    right: 380px;
    gap: 30px;
}
.bag p {
    position: absolute;
    top: 28px;
    right: 380px;
    font-size: 14px;
    color:#FFF97D;
}

.bag input {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 370px;
    opacity: 0;
    cursor: pointer;
}

.bag2 {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 360px;
    background-color: #FFF97D;
    color: #4b573e;
    z-index: 1;
    border-left: 1px solid #4b573e;
    transform: translateX(100%); 
    transition: transform 0.32s ease;
    box-shadow: 0 8px 30px rgba(0,0,0,0.18);
}

nav .bag input:checked ~ .bag2 {
    transform: translateX(0);
}


.bag2 h1 {
    margin: 18px 0 8px;
    text-align: center;
    color: inherit;
}




.bag2 h2 {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.bag2 hr {
    width: 80%;
    margin: 0 auto 12px;
    border: 1px solid #4b573e;
    
}
.bag2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    width: 85%;
    color: #4b573e;
font-size:  20px;
}

.li1 {
    padding-right:40px;
}


.li1:hover {
    color: #FFF97D;
}

.li2:hover {
    text-decoration:underline;
    color: black;
    transition: 0.3s;
}

.li3:hover {
    color: gray;
}

li i {
    padding-left: 45px;
    padding-right: 15px;
    font-size: 20px;
}

.li3 {
    padding-right: 155px;
}

.fa-bars {
    display: none !important;
}

.LALA {
    display: none;
    opacity: 0 !important;
    cursor: pointer;
}

.mobilenav {
    position: absolute;
    left: -100%;
    display: flex;
    position: sticky;
    height: 100%;
    width: 100%;
    background-color: #FFF97D;
    align-items: center;
    text-align: center;
    transition:  0.3s;
}

.LALA:checked ~ .mobilenav {
    left: 0;
    transition: 0.3s;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    background-color: #FFF97D;
    z-index: 998;
    position: fixed;
}

.mobilenav ul {
    position: absolute;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    left: 45%;
}

.mobilenav ul a {
    font-size: 25px;
    color: black;
}

.mobilenav hr {
    border: 1px solid white;
}

.section1 {
text-align: center;
justify-content: center;
width: 100%;
height: 900px;
    display: flex;
    align-items: center;
    
}

.right {
    background-image: url("https://static.wixstatic.com/media/f8596d7ebf694179aa11682b834670f2.jpg/v1/fill/w_736,h_920,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/f8596d7ebf694179aa11682b834670f2.jpg");
width: 50%;
height: 900px;
background-size: cover;
border: 1px solid #4b573e;
z-index: 22;
}

.left {
    background-color: #FFF97D;
    align-items: center;
    width: 50%;
    height: 900px;
    color: #4b573e;
    position: relative;
    
}

.left div {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 670px;
}

.left p {
    font-size: 20px;
    padding-top: 40px;
}

.left .helli {
    width: 400px;
    position: absolute;
    left: 20%;
}

.left h1 {
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}




.left button {
    margin-top: 130px;
    background-color: #f0c0d0;
    border: 1px solid #4b573e;
    border-radius: 20px;
    padding: 15px 27px 15px 27px;
    color: #4b573e;
    transition: background-color  0.5s ease;
}

.left button:hover {
    background-color: #4b573e;
    color: #f0c0d0;
    transition: 0.4s;
}

.section3 {
    width: 100%;
    height: 600px;
    border: 1px solid gray;
    background-color: #4b573e;
    color: #FFF97D;
    display: flex;
    justify-content: center;
}

.section3 .indiv {
gap: 50px;
}

.section3 h1 {
    font-size: 50px;
    padding: 20px 0 20px 20px;
}
.section3 .indiv {
    width: 33.33%;
    margin-top: 70px;
    
    padding: 50px 20px 20px 20px;
    
}

.section3 .indiv .mama {
    font-size: 30px;
}

.section3 .indiv p {
    font-size: 20px;
    padding-top: 10px;
}

.section2 {
    background-color: #f0c0d0;
        text-align: center;
        align-items: center;
    width: 100%;
    height: 400px;
    color: #4b573e;
    position: relative;
}

.section2 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

.section2 h1 {
    font-size: 60px;
    padding-bottom: 30px;
}

.section2 p {
    padding-bottom:30px;

}

.section2 h3 {
    margin-bottom: 10px;
}

.section2 button {
    background-color: #4b573e;
    border: 1px solid white;
    color: white;
    padding: 12px 22px 12px 22px;
    border-radius: 20px;
    transition: background-color  0.5s ease;
}

.section2 button:hover {
    background-color: #FFF97D;
    color:#4b573e;
    border: 1px solid #4b573e;
    transition: 0.4s;
}

.racket {
    width: 100%;
    height: 100vh;
    border:1px solid gray
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50%;
    
}



.grid4 h1 {
    width: 200px;
}

.grid div {
    width: 1fr;
    height: 200px;
    border: 1px solid #4b573e;
    position: relative;
}

.grid div h1 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 25%;
}

.maingrid {
    background-color: #FFF97D;
    width: 100%;
    height: 600px;
    position: relative;
    color: #4b573e;
}

.maingrid .popo {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    color: #4b573e;
    padding-bottom: 20px;
}

.maingrid button {
    position: absolute;
    left: 47%;
    top: 85%;
    background-color: #4b573e;
    color: #FFF97D;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    transition: background-color 0.5s ease;
    border: 1px solid #4b573e;
    margin-top: 40px;
}

.maingrid button:hover {
    background-color: #FFF97D;
    color: #4b573e;
    transition: 0.5s;
}


.inputmain {
    width: 100%;
    background-color: #f0c0d0;
    height: 700px;
    color: #4b573e;
    display: flex;
}

.leftinput {
    width: 60%;
}

.leftinput h1 {
font-size: 60px;
padding-bottom: 50px;
padding-left: 50px;
padding-top: 60px;
}

.one {
padding-left: 60px;
    font-size: 20px;
    padding-bottom: 20px;
}

.two {
    padding-left: 60px;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputlabel {
    display: flex;
    flex-direction: column-reverse;
    
}

.inputlabel input {
    width: 400px;
    border-radius: 15px;
    border: 1px solid #4b573e;
    background-color: #f0c0d0;
    padding: 10px 10px 10px 10px;
    
}

.inputlabel textarea {
background-color: #f0c0d0;
border-radius: 20px;
width: 400px;
height: 100px;
resize: none;
}

form button {
    margin-top: 50px;
    background-color: #4b573e;
    color: white;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    border: 1px solid #4b573e;
    transition: background-color 0.32s ease;
}

form button:hover {
    background-color: #FFF97D;
    color: #4b573e;
    text-decoration: underline;
    transition: 0.3s ;
}

.inputlabel label {
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    height: 800px;
    width: 100%;
    background-color: #FFF97D;
}

footer h1 {
    padding: 10px 20px 10px 20px;
}

.gribs .gribs1 .gribs2 div .privacy{
    border: none;
}

.gridmain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    height: 400px;
}

.gridmain div {
    border: 1px solid black;
}

.gribs1 {
    position: relative;
    grid-column:span 2;
}

.form1 {
    display: flex;
    flex-direction: column;
}

.form1 label {
    padding-top: 20px;
    padding-bottom: 10px;
}

.gribs1 .texttt {
    border: #FFF97D;
    position: absolute;
    top: 20%;
    left: 5%;
}



.gribs1 .texttt {
    font-size: 20px;
}

.gribs1 .texttt input {
    background-color: #FFF97D;
    border: 1px solid black;
    padding: 6px 18px 6px 18px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.gribs1 .texttt .h {
    width: 300px;
}

.gribs1 .texttt button {
    padding: 10px 52px 10px 52px;
    background-color: #f0c0d0;
    border: 1px solid #4b573e;
    border-radius: 20px;
    color: #4b573e;
    margin-top: 30px;
    transition: background-color 0.37s ease;
}

.gribs1 .texttt button:hover {
    background-color: #4b573e;
    color: #f0c0d0;
    text-decoration: underline;
    transition: 0.3s;
}

.gribs2 {
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.inner {
    width: 200px;
    border: none !important;
}

.gribs2 .numbr {
    border: none;
    padding-bottom: 20px;
}

.gribs {
    position: relative;
}

.gribs .privacy  {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 200px;
    color: #4b573e;
    border: none;
    text-align: center;
    align-items: center;
}

.gribs .privacy a {
    color: #4b573e;
}

@media screen and (max-width: 950px) {
    

    
    nav ul {
        display: none;
    }

.fa-bars {
        display: block !important;
        color: white;
        font-size: 25px;
        position: absolute;
        right: 30px;
        cursor: pointer;
        z-index: 1000;
    }

    .LALA {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 30px;
        top: 18px;
        opacity: 1;
        cursor: pointer;
        z-index: 1001;
    }

    

    .section1 {
        flex-direction: column;
    }

    .section1 .left, .section1 .right {
        width: 100%;
    }

    .section1 .left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 780px;
        margin-top: 80px;
    }

    .section1 .left button {
        margin-top: 130px;
        margin-bottom: 0px;
    }

    .section1 .left div {
        position: static;
        width: 300px;
        
    }

    .section1 .left .ioio {
        
        padding-top: 100px;
    }

    .section1 .left div .helli {
        width: 60%;
    }

.section1 .right {
    min-height: 400px;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
    
    
}

    .section2 {
        height: 500px;
    }

.racket {
    height: auto;
}

    .inputmain {
        flex-direction: column;
        height: auto;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .section3 {
        flex-direction: column;
        height: auto;
        text-align: center;
        align-items: center;
        margin-top: 40px;
    }


    .section3 h1 {
        padding-top: 150px;
    }

    .section3 .indiv {
        width: 80%;
        margin-bottom: 30px;
        gap: 20px;
    }

.grid {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  box-sizing: border-box;
}

.grid > div {
  width: 100%;
  min-height: 140px;
  border: 1px solid #4b573e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background: transparent;
  position: relative;
}

.grid div h1 {
  position: static;
  top: auto;
  left: auto;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.2;
}

.maingrid {
  height: auto;
  padding-bottom: 24px;
}

.maingrid button {
  position: static;
  display: block;
  margin: 18px auto 32px;
  left: auto;
  top: auto;
}

.gridmain {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: none; 
  text-align: center;
  align-items: center;
  margin: auto;
}

.gridmain > div {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #4b573e; 
  padding: 16px;
  background: transparent;
}


.gribs1 {
  position: static;
  grid-column: auto;
  height: auto;
  z-index: auto;
  width: 100%;
}

.gribs1 .texttt {
  position: static;
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
}

.gribs1 .texttt input.h {
  width: 100%;
  max-width: 420px;
    margin: 0 auto 12px;
}



.numbr {
    text-align: center;
}

.inner {
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 0;
}

.gribs2,
.gribs .privacy {
  position: static;
  width: 100%;
  padding: 8px 0;
}

.gribs .privacy a {
  display: block;
  margin-bottom: 6px;
}  
}

@media screen and (min-width:950px) {
    .mobilenav {
        display: none;
    }
}










